body {
  background-image: url('images/floral_bg.jpg');
}

.content {
  background-color: white;
  font-size: 20px;
  margin: auto;
  max-width: 1000px;
  padding: 20px;
}

h3 {
  text-shadow: 1px 1px 3px #ccc;
}

.info-bar {
  border-right: 1px solid #ccc;
}

#name {
  font-weight: bold;
  margin: 15px 0px;
}

#location i {
  font-size: 24px;
}

#location span {
  font-size: 18px;
  margin: 20px 0px;
}

#links {
  margin-top: 20px;
}

#links a {
  color: #7c7b8a;
  display: block;
  font-size: 18px;
  margin-top: 10px;
}

#links a i {
  font-size: 30px;
}

.fa-linkedin-square {
  color: #308ECA;
}

.fa-github {
  color: black;
}

.fa-envelope-o {
  color: #c44a41;
  margin-top: 20px;
}

/* Avatar top image, hidden by default. */
.img-top {
  display: none;
}

#avatar img {
  max-height: 120px;
}

/* On hover, only display top image. */
#avatar:hover img {
  display: none;
}

#avatar:hover .img-top {
  display: inline;
}

.top-nav {
  padding: 4px;
}

/* index.html */

.fa-hand-o-right {
  margin-left: 10px;
}

#my-name {
  color: #3aa7d6;
  font-size: 30px;
  font-weight: 800;
  text-shadow: 1px 2px 4px #ccc;
}

#my-name:hover {
  color: #a7c1fa;
}

.text-bold {
  font-weight: bold;
}

.text-bold-blue {
  font-weight: bold;
  color: #607bd1;
}

.text-red {
  color: #b34949;
}

#talents-title:hover {
  cursor: pointer;
  color: #7c7b8a;
}

#fun-title {
  margin-top: 50px;
}

#fun-div {
  text-align: center;
}

#fun-div button {
  background-color: #ed7979;
  border: 2px solid #ed7979;
  border-radius: 10px;
  box-shadow: 5px 5px 8px #ab9da8;
  color: white;
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
}

#fun-div button:hover {
  background-color: white;
  color: black;
}

.img-fact {
  max-width: 80px;
}

/* projects.html */

#projects-div {
  margin-bottom: 30px;
}

.subtitle {
  margin: 20px;
  text-align: center;
}

.dropdown-arrow {
  border: solid black;
  border-width: 0 4px 4px 0;
  float: right;
  margin-top: 4px;
  padding: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Dropdown button. */
.dropdown-click {
  background-color: rgb(159, 204, 234);
  color: rgb(54, 53, 53);
  cursor: pointer;
  font: 800, 22px, "Times New Roman", Times, serif;
  margin: 15px 0; 
  padding: 8px;
}

.dropdown-click:hover, .dropdown-click:focus {
  background-color: #6db4e2;
}

/* Dropdown content, hidden by default. */
.dropdown-content {
  display: none;
  position: relative;
}

/* Show previously hidden content. */
.show {
  display:block;
}

/* gallery.html */

/* Side nav bar, contained in the gallery. */
.side-nav {
  padding: 20px;
  position: fixed;
}

/* Gallery contents, displayed in grid layout. */
.tab-content {
  border: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  padding: 0 4px;
}

.column {
  flex: 10%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  margin-bottom: 8px;
  vertical-align: middle;
  max-width: 100%;
}

/* Container for every single photo in the gallery. */
.photo {
  position: relative;
}

.photo:hover img {
  /* Set opacaity when hovered. */
  opacity: 0.3;
}

.photo:hover .overlay {
  opacity: 1;
}

/* Overlay a div with text, having absolute position with respect to its parent. */
.overlay {
  left: 50%;
  opacity: 0;
  position:absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .5s ease-in-out;
}

.text {
  color: black;
  font-size: 15px;
}

/* comments.html */

#comments-header {
  margin-top:20px;
}

#login-out, 
#set-nickname-button {
 float:right;
}

#input-form {
  margin: 20px 0px;
}

textarea {
  margin-bottom: 5px;
}

/* Override the Bootstrap form-control class. */
.form-control {
  font-size: 20px;
}

#comments-list {
  list-style-type: none;
  padding-left: 0;
}

.comment {
  border-bottom: 1px dashed #efefef;
  overflow: auto;
  padding: 0 0 25px 10px;
  margin-bottom: 10px;
}

.comment div {
  max-height: 250px;
  overflow: auto;
}

.comment div span {
  font-size: 15px;
}

.comment div img {
  max-height: 200px;
}

.comment button {
  background-color: white;
  border: none;
  color: #7c7b8a;
  font-size: 15px;
  position: absolute;
  right: 15px;
}

#pagination-div .form-control {
  font-size: 15px;
  width: 60px;
}

#delete-all-button {
  float: right;
}
