.content {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 1000px;
}

.info-bar {
  border-right: 1px solid #ccc;
}

#name {
  font-weight: bold;
}

#links {
  margin-top: 20px;
}

#links a {
  display: block;
}

.fa-linkedin-square {
  color: #308ECA;
}

.fa-github {
  color: black;
}

/* Avatar top image, hidden by default. */
.img-top {
  display: none;
}
#avatar img {
  max-height: 100px;
}
/* On hover, only displays top image. */
#avatar:hover img {
  display: none;
}
#avatar:hover .img-top {
  display: inline;
}

.top-nav {
  padding: 4px;
}

/* index.html */

#talents-title {
  cursor: pointer;
}

#fun-div {
  text-align: center;
}

#fun-div button {
  border-radius: 10px;
  border: 2px solid;
  color: white;
  padding: 5px 20px;
  margin-bottom: 10px;
}
#fun-div button:hover {
  background-color: white;
  color: black;
}

#button-quote {
  background-color: #35bd59;  /* green */
}
#button-quote:hover {
  border: 2px solid #35bd59;
}

#button-fact {
  background-color: #3aa7d6;  /* blue */
}
#button-fact:hover {
  border: 2px solid #3aa7d6;
}

.img-fact {
  max-width: 80px;
}

/* projects.html */

#projects-div {
  margin-bottom: 30px;
}

.subtitle {
  margin: 20px;
  text-align: center;
}

/* Dropdown button. */
.dropdown-click {
  background-color: rgb(159, 204, 234);
  color: rgb(54, 53, 53);
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  padding: 8px;
  cursor: pointer;
}
.dropdown-click:hover, .dropdown-click:focus {
  background-color: #6db4e2;
}

/* Dropdown content, hidden by default. */
.dropdown-content {
  display: none;
  position: relative;
}
/* Shows previously hidden content. */
.show {
  display:block;
}

/* gallery.html */

/* Side nav bar, contained in the gallery. */
.side-nav {
  position: fixed;
  padding: 20px;
}

/* Gallery contents, displayed in grid layout. */
.row, .tab-content {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  border: none;
}
.column {
  flex: 10%;
  max-width: 20%;
  padding: 0 4px;
}
.column img {
  margin-top: 8px;
  margin-bottom: 8px;
  vertical-align: middle;
  max-width: 100%;
}

/* Container for every single photo in the gallery. */
.photo {
  position: relative;
}
/* Sets opacaity when hovered. */
.photo:hover img {
  opacity: 0.3;
}
.photo:hover .overlay {
  opacity: 1;
}

/* Overlays a div with text, having absolute position with respect to its parent. */
.overlay {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0;
  transition: .5s ease-in-out;
}
.text {
  color: black;
  font-size: 15px;
}

